<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="page-title"> 
        <h3 class="title">Staff Members </h3> 
    </div>
      
    <div class="row">
    
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                            
                        </span>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>

        <div class= "col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span><label>Create new staff member</label></span>
                    <span><button type="button" class="btn btn-primary m-b-5 pull-right" data-toggle="modal" data-target="#myModal">Create</button></span>   
                </div>
                </div>
            
        </div>
    
    </div> <!-- End row -->

</div> <!-- END Wraper -->


<div class="row">
 <%@staffs.each do |staff| %>

    <div class="col-lg-4">
        <div class="contact-box">
            <a href="profile.html">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src=<%= asset_path 'avatar-9.jpg' %> >
                    <div class="m-t-xs font-bold">Graphics designer</div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong><%= staff.first_name%></strong></h3>
                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="clearfix"></div>
                </a>
        </div>
    </div>
 <%end%>
</div> 